Repository Esquains/study1, changes with the owners that CODEOWNERS names for each.
All owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @BowenBao, @abock, @csarofeen, @ngimel, @jjsjann123, @ptrblck, @alband, @dagitses, @pytorch/pytorch-dev-infra, @svekars, @linbinyu, @xta0, @IvanKobzarev, @dreiss, @mruberry, @peterbell10, @nikitaved, @cpuhrsch, @pearu, @IvanYashchuk, @kulinseth, @malfet, @fritzo, @neerajprad, @alicanb, @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @wanchaol, @fduwjj, @H-Huang, @d4l3k, @kiukchung, @aazzolini, @kwen2501

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Core Maintainers
/** @soumith @gchanan @ezyang @dzhulgakov

# PyTorch -> ONNX
/.jenkins/caffe2/* @BowenBao @abock
/aten/src/ATen/core/interned_strings.h @BowenBao @abock
/docs/source/onnx.rst @BowenBao @abock
/docs/source/scripts/onnx/** @BowenBao @abock
/scripts/onnx/** @BowenBao @abock
/test/jit/test_export_modes.py @BowenBao @abock
/test/onnx/** @BowenBao @abock
/tools/onnx/** @BowenBao @abock
/torch/_C/__init__.pyi.in @BowenBao @abock
/torch/csrc/jit/passes/onnx.* @BowenBao @abock
/torch/csrc/jit/passes/onnx/** @BowenBao @abock
/torch/csrc/jit/serialization/export.* @BowenBao @abock
/torch/csrc/jit/serialization/onnx.* @BowenBao @abock
/torch/csrc/onnx/** @BowenBao @abock
/torch/onnx/** @BowenBao @abock

# NVIDIA
/test/test_jit_cuda_fuser.py @csarofeen @ngimel @jjsjann123 @ptrblck
/torch/csrc/jit/codegen/fuser/cuda/** @csarofeen @ngimel @jjsjann123 @ptrblck
/torch/csrc/jit/codegen/cuda/** @csarofeen @ngimel @jjsjann123 @ptrblck
/benchmarks/cpp/nvfuser/** @csarofeen @ngimel @jjsjann123 @ptrblck

# OSS CI
/.github/** @alband @dagitses @pytorch/pytorch-dev-infra
/.circleci/** @alband @dagitses @pytorch/pytorch-dev-infra
/.jenkins/** @alband @dagitses @pytorch/pytorch-dev-infra
/scripts/** @alband @dagitses @pytorch/pytorch-dev-infra
/tools/** @alband @dagitses @pytorch/pytorch-dev-infra
/.github/ci_commit_pins/* @alband @dagitses @pytorch/pytorch-dev-infra

# Documentation
/docs/** @svekars
/torch/*docs.py svekars

# Mobile
/ios/** @linbinyu @xta0 @IvanKobzarev @dreiss
/android/** @linbinyu @xta0 IvanKobzarev @dreiss
/test/mobile/** @linbinyu @xta0 IvanKobzarev @dreiss

# Linear Algebra
/aten/src/ATen/native/cuda/linalg/** @mruberry Lezcano @IvanYashchuk
/aten/src/ATen/LinalgBackend.h @mruberry Lezcano @IvanYashchuk
/aten/src/ATen/native/**LinearAlgebra* @mruberry Lezcano @IvanYashchuk
/docs/source/linalg.rst @mruberry Lezcano @IvanYashchuk
/torch/linalg/** @mruberry Lezcano @IvanYashchuk
/torch/_linalg_utils.py @mruberry Lezcano @IvanYashchuk
/torch/**python_linalg_functions.* @mruberry Lezcano @IvanYashchuk
/torch/**linalg.h @mruberry Lezcano @IvanYashchuk
/tools/autograd/templates/python_linalg_functions.cpp @mruberry Lezcano @IvanYashchuk
/test/test_linalg.py @mruberry Lezcano @IvanYashchuk

# FFT
/aten/src/ATen/native/cuda/*FFT*.h @mruberry @peterbell10
/aten/src/ATen/native/SpectralOps.cpp @mruberry @peterbell10
/aten/src/ATen/native/mkl/SpectralOps.cpp @mruberry @peterbell10
/aten/src/ATen/native/cuda/SpectralOps.* @mruberry @peterbell10
/docs/source/fft.rst @mruberry @peterbell10
/torch/fft/** @mruberry @peterbell10
/torch/csrc/api/include/torch/fft.h @mruberry @peterbell10
/torch/**python_fft_functions.* @mruberry @peterbell10
/tools/autograd/templates/python_fft_functions.cpp @mruberry @peterbell10
/test/cpp/api/fft.cpp @mruberry @peterbell10

# Sparse
/benchmarks/sparse @nikitaved @cpuhrsch @pearu @IvanYashchuk
/c10/util/sparse_bitset.h @nikitaved @cpuhrsch @pearu @IvanYashchuk
/docs/source/sparse.rst @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/**sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/**sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/optim/sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/ao/nn/sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/utils/benchmark/**sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/native/ao_sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/native/sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/**Sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/*Sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/_masked/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/test/*_masked* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/test/**sparse*" @nikitaved @cpuhrsch @pearu @IvanYashchuk

# MPS
/test/test_mps.py @kulinseth @alband @malfet
/aten/src/ATen/native/native_functions.yaml @kulinseth @alband @malfet
/aten/src/ATen/mps/** @kulinseth @alband @malfet
/aten/src/ATen/native/mps/** @kulinseth @alband @malfet

# Distributions
/torch/distributions/** @fritzo @neerajprad @alicanb
/test/distributions/** @fritzo @neerajprad @alicanb

# Distributed
/docs/source/pipeline.rst @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/rpc.rst @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/rpc/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/_static/img/rpc* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/_static/img/*distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/elastic/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
benchmarks/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/nn/parallel/distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/_C/_distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/csrc/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/testing/_internal/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/test/distributed/**
/test/cpp/dist_autograd/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/test/cpp/rpc/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501

Create an independent dependecies layers
  Dockerfile
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Add check for unsupported sprase layout
  aten/src/ATen/native/BatchLinearAlgebra.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Change to ValueError
  aten/src/ATen/native/BatchLinearAlgebra.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

preserve environment marks
  Dockerfile
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Update torch.masked.mean to upcast dtype for bool tensor
  torch/masked/_ops.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

cpu: aarch64: enable gemm-bf16f32
  aten/src/ATen/native/CPUBlas.cpp
  aten/src/ATen/native/mkldnn/Matmul.cpp
  aten/src/ATen/native/mkldnn/Matmul.h
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Use s8s8s8 for qlinear on aarch64 instead of u8s8u8 with mkl-dnn
  aten/src/ATen/native/quantized/cpu/qlinear.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Update
  aten/src/ATen/native/ForeachOpsKernels.cpp
  aten/src/ATen/native/cuda/ForeachBinaryOpScalarTensor.cu
  aten/src/ATen/native/cuda/ForeachUnaryOp.cu
  aten/src/ATen/native/native_functions.yaml
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @kulinseth, @alband, @malfet

Add ops _foreach_where
  aten/src/ATen/native/ForeachOpsKernels.cpp
  aten/src/ATen/native/cuda/ForeachUnaryOp.cu
  aten/src/ATen/native/native_functions.yaml
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @kulinseth, @alband, @malfet

Remove multilabel_soft_margin_loss deprecated arguments
  torch/nn/functional.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

dont run this
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

dont even think about it
  aten/src/ATen/native/cudnn/MHA.cpp
  test/test_transformers.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

ima here
  aten/src/ATen/native/cudnn/MHA.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

twiddle
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

yolo dont run this
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/cudnn/MHA.h
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

bs > 1 ????????
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
  test/test_transformers.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

thats crazy
  aten/src/ATen/native/cudnn/MHA.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

incremental
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/cudnn/MHA.h
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

debating adding seq len tensor on device
  aten/src/ATen/native/cudnn/MHA.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

this builds? everybody run
  aten/src/ATen/cuda/detail/UnpackRaw.cuh
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
  aten/src/ATen/native/transformers/cuda/attention.cu
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @kulinseth, @alband, @malfet

test not even close
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
  test/test_transformers.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

update dispatch condition to exclude sm8x
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

fix offset and add env var to gate dispatch and test
  aten/src/ATen/native/cudnn/MHA.cpp
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
  test/test_transformers.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Specific attribute for device DTensor RNG support indication.
  torch/cuda/random.py
  torch/distributed/tensor/_random.py
  torch/mps/__init__.py
  torch/mtia/__init__.py
  torch/xpu/__init__.py
  torch/xpu/random.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @wanchaol, @fduwjj, @H-Huang, @d4l3k, @kiukchung, @aazzolini, @kwen2501

Enabled force_shape_pad for test_pad_mm
  test/inductor/test_pad_mm.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Added forced padding for test_slice_mm_bandwidth_computation
  test/inductor/test_kernel_benchmark.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Add g++ for torch.compile
  Dockerfile
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

check in
  aten/src/ATen/native/cuda/UpSampleNearest2d.cu
  test/test_nn.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Enable preparing module named parameters and buffers in tracing context for non-Inductor backends to implement graph freezing.
  test/dynamo/test_backends.py
  torch/_dynamo/config.py
  torch/_dynamo/variables/builder.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Fixed config import name for decorator
  test/inductor/test_kernel_benchmark.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

check in
  aten/src/ATen/cuda/detail/KernelUtils.h
  aten/src/ATen/native/cuda/Bucketization.cu
  aten/src/ATen/native/cuda/DistanceKernel.cu
  aten/src/ATen/native/cuda/DistributionTemplates.h
  aten/src/ATen/native/cuda/FractionalMaxPool3d.cu
  aten/src/ATen/native/cuda/LossCTC.cu
  aten/src/ATen/native/cuda/MaxUnpooling.cu
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

check in2
  aten/src/ATen/native/cuda/Repeat.cu
  aten/src/ATen/native/cuda/SegmentReduce.cu
  aten/src/ATen/native/cuda/TensorFactories.cu
  aten/src/ATen/native/cuda/TensorTransformations.cu
  aten/src/ATen/native/cuda/UpSampleNearest2d.cu
  aten/src/ATen/native/cuda/group_norm_kernel.cu
  aten/src/ATen/native/cuda/layer_norm_kernel.cu
  aten/src/ATen/native/sparse/cuda/SparseCUDATensorMath.cu
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @nikitaved, @cpuhrsch, @pearu, @IvanYashchuk

check in 3
  aten/src/ATen/native/cuda/LossCTC.cu
  aten/src/ATen/native/cuda/ReflectionPad.cu
  aten/src/ATen/native/cuda/ReplicationPadding.cu
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

check in 4
  aten/src/ATen/native/sparse/cuda/SparseCsrTensorMath.cu
Owners: @nikitaved, @cpuhrsch, @pearu, @IvanYashchuk

Raise error with non float and complex type
  torch/masked/_ops.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Change testing dtypes for masked.mean to match Tensor
  torch/testing/_internal/opinfo/definitions/_masked.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Format code
  .lintrunner.toml
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Enable clang-tidy
  .clang-tidy
  .lintrunner.toml
  BUCK.oss
  BUILD.bazel
  build.bzl
  caffe2/serialize/CMakeLists.txt
  caffe2/serialize/file_adapter.cc
  caffe2/serialize/file_adapter.h
  caffe2/serialize/in_memory_adapter.h
  caffe2/serialize/inline_container.cc
  caffe2/serialize/inline_container.h
  caffe2/serialize/inline_container_test.cc
  caffe2/serialize/istream_adapter.cc
  caffe2/serialize/istream_adapter.h
  caffe2/serialize/read_adapter_interface.cc
  caffe2/serialize/read_adapter_interface.h
  caffe2/serialize/versions.h
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

etc
  test/inductor/test_torchinductor.py
  test/inductor/test_torchinductor_strided_blocks.py
  torch/_inductor/codegen/triton.py
  torch/_inductor/config.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

etc
  test/inductor/test_torchinductor.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov
