Repository Esquains/study1, changes with the owners that CODEOWNERS names for each.
All owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @BowenBao, @abock, @csarofeen, @ngimel, @jjsjann123, @ptrblck, @alband, @dagitses, @pytorch/pytorch-dev-infra, @svekars, @linbinyu, @xta0, @IvanKobzarev, @dreiss, @mruberry, @peterbell10, @nikitaved, @cpuhrsch, @pearu, @IvanYashchuk, @kulinseth, @malfet, @fritzo, @neerajprad, @alicanb, @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @wanchaol, @fduwjj, @H-Huang, @d4l3k, @kiukchung, @aazzolini, @kwen2501

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Core Maintainers
/** @soumith @gchanan @ezyang @dzhulgakov

# PyTorch -> ONNX
/.jenkins/caffe2/* @BowenBao @abock
/aten/src/ATen/core/interned_strings.h @BowenBao @abock
/docs/source/onnx.rst @BowenBao @abock
/docs/source/scripts/onnx/** @BowenBao @abock
/scripts/onnx/** @BowenBao @abock
/test/jit/test_export_modes.py @BowenBao @abock
/test/onnx/** @BowenBao @abock
/tools/onnx/** @BowenBao @abock
/torch/_C/__init__.pyi.in @BowenBao @abock
/torch/csrc/jit/passes/onnx.* @BowenBao @abock
/torch/csrc/jit/passes/onnx/** @BowenBao @abock
/torch/csrc/jit/serialization/export.* @BowenBao @abock
/torch/csrc/jit/serialization/onnx.* @BowenBao @abock
/torch/csrc/onnx/** @BowenBao @abock
/torch/onnx/** @BowenBao @abock

# NVIDIA
/test/test_jit_cuda_fuser.py @csarofeen @ngimel @jjsjann123 @ptrblck
/torch/csrc/jit/codegen/fuser/cuda/** @csarofeen @ngimel @jjsjann123 @ptrblck
/torch/csrc/jit/codegen/cuda/** @csarofeen @ngimel @jjsjann123 @ptrblck
/benchmarks/cpp/nvfuser/** @csarofeen @ngimel @jjsjann123 @ptrblck

# OSS CI
/.github/** @alband @dagitses @pytorch/pytorch-dev-infra
/.circleci/** @alband @dagitses @pytorch/pytorch-dev-infra
/.jenkins/** @alband @dagitses @pytorch/pytorch-dev-infra
/scripts/** @alband @dagitses @pytorch/pytorch-dev-infra
/tools/** @alband @dagitses @pytorch/pytorch-dev-infra
/.github/ci_commit_pins/* @alband @dagitses @pytorch/pytorch-dev-infra

# Documentation
/docs/** @svekars
/torch/*docs.py svekars

# Mobile
/ios/** @linbinyu @xta0 @IvanKobzarev @dreiss
/android/** @linbinyu @xta0 IvanKobzarev @dreiss
/test/mobile/** @linbinyu @xta0 IvanKobzarev @dreiss

# Linear Algebra
/aten/src/ATen/native/cuda/linalg/** @mruberry Lezcano @IvanYashchuk
/aten/src/ATen/LinalgBackend.h @mruberry Lezcano @IvanYashchuk
/aten/src/ATen/native/**LinearAlgebra* @mruberry Lezcano @IvanYashchuk
/docs/source/linalg.rst @mruberry Lezcano @IvanYashchuk
/torch/linalg/** @mruberry Lezcano @IvanYashchuk
/torch/_linalg_utils.py @mruberry Lezcano @IvanYashchuk
/torch/**python_linalg_functions.* @mruberry Lezcano @IvanYashchuk
/torch/**linalg.h @mruberry Lezcano @IvanYashchuk
/tools/autograd/templates/python_linalg_functions.cpp @mruberry Lezcano @IvanYashchuk
/test/test_linalg.py @mruberry Lezcano @IvanYashchuk

# FFT
/aten/src/ATen/native/cuda/*FFT*.h @mruberry @peterbell10
/aten/src/ATen/native/SpectralOps.cpp @mruberry @peterbell10
/aten/src/ATen/native/mkl/SpectralOps.cpp @mruberry @peterbell10
/aten/src/ATen/native/cuda/SpectralOps.* @mruberry @peterbell10
/docs/source/fft.rst @mruberry @peterbell10
/torch/fft/** @mruberry @peterbell10
/torch/csrc/api/include/torch/fft.h @mruberry @peterbell10
/torch/**python_fft_functions.* @mruberry @peterbell10
/tools/autograd/templates/python_fft_functions.cpp @mruberry @peterbell10
/test/cpp/api/fft.cpp @mruberry @peterbell10

# Sparse
/benchmarks/sparse @nikitaved @cpuhrsch @pearu @IvanYashchuk
/c10/util/sparse_bitset.h @nikitaved @cpuhrsch @pearu @IvanYashchuk
/docs/source/sparse.rst @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/**sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/**sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/optim/sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/ao/nn/sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/utils/benchmark/**sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/native/ao_sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/native/sparse/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/**Sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/aten/src/ATen/*Sparse* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/torch/_masked/** @nikitaved @cpuhrsch @pearu @IvanYashchuk
/test/*_masked* @nikitaved @cpuhrsch @pearu @IvanYashchuk
/test/**sparse*" @nikitaved @cpuhrsch @pearu @IvanYashchuk

# MPS
/test/test_mps.py @kulinseth @alband @malfet
/aten/src/ATen/native/native_functions.yaml @kulinseth @alband @malfet
/aten/src/ATen/mps/** @kulinseth @alband @malfet
/aten/src/ATen/native/mps/** @kulinseth @alband @malfet

# Distributions
/torch/distributions/** @fritzo @neerajprad @alicanb
/test/distributions/** @fritzo @neerajprad @alicanb

# Distributed
/docs/source/pipeline.rst @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/rpc.rst @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/rpc/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/_static/img/rpc* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/_static/img/*distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/docs/source/elastic/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
benchmarks/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/nn/parallel/distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/_C/_distributed* @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/csrc/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/torch/testing/_internal/distributed/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/test/distributed/**
/test/cpp/dist_autograd/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501
/test/cpp/rpc/** @mrshenli @pritamdamania87 @zhaojuanmao @rohan-varma @wanchaol @fduwjj @H-Huang @d4l3k @kiukchung @aazzolini @kwen2501

Handle meta tensors in FX quantization (#142262)
  torch/ao/quantization/quantize.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Fix get_source_partitions when weights are tied (#142446)
  test/fx/test_source_matcher_utils.py
  torch/fx/passes/utils/source_matcher_utils.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Fix TRITON_XPU_BUILD_FROM_SOURCE
  scripts/install_triton_wheel.sh
Owners: @alband, @dagitses, @pytorch/pytorch-dev-infra

Refactoring of testcases
  test/functorch/test_control_flow.py
  torch/_higher_order_ops/cond.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Change Autograd of cond: Return all zeros instead of None
  test/functorch/test_control_flow.py
  torch/_higher_order_ops/cond.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Moved unmasking function to torch/_higher_order_ops/utils.py
  test/functorch/test_control_flow.py
  torch/_higher_order_ops/cond.py
  torch/_higher_order_ops/utils.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

[Inductor][Easy] Fix a test failure in loop_ordering_after_fusion (#142474)
  test/inductor/test_loop_ordering.py
  torch/_inductor/scheduler.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Update test_linalg.py
  test/test_linalg.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Support tensor subclass unwrapping
  test/export/test_export.py
  test/inductor/test_aot_inductor.py
  torch/_inductor/compile_fx.py
  torch/export/_trace.py
  torch/export/exported_program.py
  torch/export/graph_signature.py
  torch/testing/_internal/custom_tensor.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

temp test
  .ci/manywheel/build_xpu.sh
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

[Intel GPU] allow_tf32 context at XPU backend
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  aten/src/ATen/native/mkldnn/xpu/detail/Conv.cpp
  aten/src/ATen/native/mkldnn/xpu/detail/Utils.cpp
  aten/src/ATen/native/mkldnn/xpu/detail/Utils.h
  test/xpu/test_conv.py
  torch/_C/__init__.pyi.in
  torch/backends/mkldnn/__init__.py
  torch/csrc/Module.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @BowenBao, @abock

Enable more warnings
  CMakeLists.txt
  caffe2/CMakeLists.txt
  torch/csrc/distributed/c10d/socket.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @mrshenli, @pritamdamania87, @zhaojuanmao, @rohan-varma, @wanchaol, @fduwjj, @H-Huang, @d4l3k, @kiukchung, @aazzolini, @kwen2501

Applied linter formatting.
  test/inductor/test_kernel_benchmark.py
  test/inductor/test_pad_mm.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

test ok
  test/inductor/test_torchinductor.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

[provenance_tracking] Dump inductor_triton_kernel_to_post_grad_nodes.json info in debug_trace (#143055)
  test/inductor/test_provenance_tracing.py
  torch/_inductor/codegen/simd.py
  torch/_inductor/config.py
  torch/_inductor/debug.py
  torch/_inductor/scheduler.py
  torch/_inductor/utils.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Introduced tighter constraints for None gradients Unified testcases
  test/functorch/test_control_flow.py
  torch/_higher_order_ops/utils.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Add FP8 support for eye
  aten/src/ATen/native/TensorFactories.cpp
  aten/src/ATen/native/cpu/TensorCompareKernel.cpp
  aten/src/ATen/native/cuda/TensorCompare.cu
  torch/testing/_internal/common_methods_invocations.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Add torch._scaled_mm for CPU
  aten/src/ATen/native/Blas.cpp
  aten/src/ATen/native/mkldnn/Linear.cpp
  aten/src/ATen/native/mkldnn/Linear.h
  aten/src/ATen/native/mkldnn/MKLDNNCommon.cpp
  aten/src/ATen/native/native_functions.yaml
  test/inductor/test_fp8.py
  test/test_matmul_cuda.py
  test/test_matmul_fp8.py
  torch/csrc/inductor/aoti_torch/generated/c_shim_cpu.h
  torch/testing/_internal/common_device_type.py
  torch/testing/_internal/common_methods_invocations.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @kulinseth, @alband, @malfet

Add CPU inductor support for _scaled_mm
  test/inductor/test_aot_inductor.py
  torch/_inductor/graph.py
  torch/csrc/inductor/aoti_torch/c/shim.h
  torch/csrc/inductor/aoti_torch/shim_common.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

process handle with PIMPL. #suppress-bc-linter
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  aten/src/ATen/cuda/detail/CUDAHooks.h
  aten/src/ATen/detail/AcceleratorHooksInterface.h
  c10/core/Storage.h
  torch/csrc/StorageSharing.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

add rebuild_cuda_tensor with deprecated for BC
  docs/source/conf.py
  torch/multiprocessing/reductions.py
Owners: @svekars, @soumith, @gchanan, @ezyang, @dzhulgakov

Make IPC features extendable on third-party devices #suppress-bc-linter
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  aten/src/ATen/cuda/detail/CUDAHooks.h
  aten/src/ATen/detail/AcceleratorHooksInterface.h
  c10/core/StorageImpl.h
  docs/source/conf.py
  test/test_torch.py
  torch/__init__.py
  torch/csrc/StorageSharing.cpp
  torch/multiprocessing/reductions.py
  torch/storage.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @svekars

Revert "process handle with PIMPL. #suppress-bc-linter"
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  aten/src/ATen/cuda/detail/CUDAHooks.h
  aten/src/ATen/detail/AcceleratorHooksInterface.h
  c10/core/Storage.h
  torch/csrc/StorageSharing.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

move CudsIPCTypes.cpp to ATen
  aten/src/ATen/cuda/CudaIPCTypes.cpp
  aten/src/ATen/cuda/CudaIPCTypes.h
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  aten/src/ATen/detail/AcceleratorHooksInterface.h
  build_variables.bzl
  torch/csrc/Storage.cpp
  torch/csrc/StorageMethods.cpp
  torch/csrc/cuda/Module.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

fix deprecated
  torch/multiprocessing/reductions.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

test error in macos
  test/test_dataloader.py
  torch/multiprocessing/reductions.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

fix build error
  torch/csrc/Storage.cpp
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

pickler for GraphModule
  test/inductor/test_torchinductor.py
  torch/_dynamo/variables/misc.py
  torch/_inductor/compile_fx.py
  torch/_subclasses/fake_tensor.py
  torch/_subclasses/meta_utils.py
  torch/fx/_graph_pickler.py
  torch/fx/node.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Improve async workers to handle forking for async compile
  torch/_inductor/async_compile.py
  torch/_inductor/compile_worker/__main__.py
  torch/_inductor/compile_worker/subproc_pool.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Avoid const_cast
  aten/src/ATen/cuda/jiterator.cu
  aten/src/ATen/native/Blas.cpp
  aten/src/ATen/native/BlasKernel.cpp
  aten/src/ATen/native/EmbeddingBag.cpp
  aten/src/ATen/native/cuda/CUDAJitLoops.cuh
  aten/src/ATen/native/cuda/Reduce.cuh
  aten/src/ATen/native/cuda/jit_utils.cpp
  aten/src/ATen/native/cuda/jit_utils.h
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

[CI] Unify the XPU Windows CICD installtion scripts
  .ci/pytorch/win-test-helpers/build_pytorch.bat
  .ci/pytorch/win-test-helpers/installation-helpers/install_xpu.bat
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Updated in response to comments
  torch/testing/_internal/opinfo/definitions/_masked.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Add back all dtypes and bool
  torch/testing/_internal/opinfo/definitions/_masked.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Dynamic shape guards in C++
  benchmarks/dynamo/pr_time_benchmarks/benchmarks/sum_floordiv.py
  docs/source/conf.py
  test/allowlist_for_publicAPI.json
  test/dynamo/test_logging.py
  torch/_C/_dynamo/guards.pyi
  torch/_dynamo/config.py
  torch/_dynamo/guards.py
  torch/_dynamo/source.py
  torch/csrc/dynamo/guards.cpp
  torch/fx/experimental/symbolic_shapes.py
  torch/utils/_sympy/printers.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov, @svekars

Add a language option for symbolic shape guards
  test/test_proxy_tensor.py
  torch/_dynamo/guards.py
  torch/fx/experimental/symbolic_shapes.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov

Enable C++ dynamic shape guards by default
  torch/_dynamo/config.py
Owners: @soumith, @gchanan, @ezyang, @dzhulgakov
